.container {
  display: grid;
  width: 1000px;
  background-color: #ccc;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
}
.item {
  color: white;
  font-family: sans-serif;
  font-size: large;
}
.item--1 {
  background-color: orange;
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 10;
}
.item--2 {
  background-color: green;
  grid-column: 2 / -1;
}
.item--3 {
  background-color: violet;
  grid-row: 2/3;
  grid-column: 1/3;
}
.item--4 {
  background-color: pink;
}
.item--5 {
  background-color: blue;
  /* grid-row: 1/2;
  grid-column: 3/4; */
  grid-area: 1/3/3/4;
}
.item--6 {
  background-color: brown;
  grid-area: 1/2/2/3;
}
/* page2 */
.container2 {
  width: 1000px;
  height: 800px;
  margin: 30px auto;
  background-color: #aaa;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.itemb {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-family: sans-serif;
}
.itemb--1 {
  grid-column: 1 /-1;
}
.itemb--2, .itemb--3, .itemb--4 {
  grid-row: 2/span 2;
}
.itemb--6 {
  grid-column: 1/4;
  grid-row: 4 /span 4;
}
.itemb--5 {
  grid-row: 2 / span 6;
}
.itemb--7 {
  grid-column: 1 /-1;
}

/* page3 */
.container3 {
  width: 1000px;
  margin: 30px auto;
  background-color: #aaa;
  display: grid;
  grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end];
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
  grid-gap: 15px;
}

.itemc {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-family: sans-serif;
}
.sidebar {
  grid-column: col-end 3 / grid-end;
  grid-row: box-start / main-end;
}
.header {
  grid-column: col-start 1 /grid-end;
}

.main {
  grid-column: col-start 1 / col-end 3;
  grid-row: main-start / main-end;
}
.footer {
  grid-column: col-start 1 / grid-end;
}

/* page4 */

.container4 {
  width: 1000px;
  margin: 30px auto;
  background-color: #aaa;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-template-areas: "head head head head"
                        "box box box side"
                        "main main main side"
                        "foot foot foot foot";
}
.header4 {
  grid-area: head;
}
.sidebar4 {
  grid-area: side;
}
.main4 {
  grid-area: main;
}
.footer4 {
  grid-area: foot;
}

/* page  5 */

.container5 {
  width: 1000px;
  margin: 30px auto;
  background-color: #ccc;
  display: grid ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  grid-auto-rows: 80px;
  grid-auto-flow: column;
  grid-auto-columns: .5fr;
}
.item5 {
   padding: 20px;
   color: white;
   font-family: sans-serif;
   background-color: orangered; 
}

/* page 6  */

.container6 {
  width: 1000px;
  margin: 30px auto;
  background-color: #ccc;
  display: grid ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  grid-auto-rows: 80px;
  grid-auto-flow: column;
  grid-auto-columns: .5fr;
  align-items: start;
  justify-items: end;
}
.item6 {
   padding: 20px;
   color: white;
   font-family: sans-serif;
   background-color: orangered; 
}
.item6--4 {
  background-color: crimson;
  grid-row: 2 /span 3;
}

.item6--7 {
  background-color: palevioletred;
  grid-column: 1 /-1;
  align-self: end;
}

/* page 7 */
.container7 {
  width: 90%;
  margin: 30px auto;
  background-color: #ccc;
  display: grid ;
  /* grid-template-rows: repeat(2, min-content); */
  /* grid-template-columns: max-content 1fr 1fr min-content; */
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: minmax(250px, 50%) repeat(2, 1fr);
}
.item7 {
   padding: 20px;
   color: white;
   font-family: sans-serif;
   font-size: 20px;
}
.item7--1 {
  background-color: orangered;
}
.item7--2 {
  background-color: yellowgreen;
}
.item7--3 {
  background-color: rebeccapurple;
}
.item7--4 {
  background-color: sienna;
}
.item7--5 {
  background-color: goldenrod;
}
.item7--6 {
  background-color: blue;
}
.item7--7 {
  background-color: aquamarine;
  color: black;
}
.item7--8 {
  background-color: salmon;
}

/* page 8 */
.container8 {
  width: 1000px;
  margin: 30px auto;
  background-color: #ccc;
  display: grid ;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  /* grid-template-columns: repeat(auto-fill, 100px); */
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
.item8 {
   padding: 20px;
   color: white;
   font-family: sans-serif;
   font-size: 20px;
   background-color: orangered;
}
.item8--1 {
  background-color: orangered;
}
.item8--2 {
  background-color: yellowgreen;
}
.item8--3 {
  background-color: rebeccapurple;
}
.item8--4 {
  background-color: sienna;
}
.item8--5 {
  background-color: goldenrod;
}
.item8--6 {
  background-color: blue;
}
.item8--7 {
  background-color: aquamarine;
  color: black;
}
.item8--8 {
  background-color: salmon;
}